/*
 */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font: 100% "Comic Sans MS", cursive, sans-serif;
  background-color: #78664a;
}
/*
set header h1 attribute
 */

h1 {
  display: block;
  float: left;
  width: 2rem;
  margin: 0 0 0 0;
  font-size: 18pt;
  color: white;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0 0 0 0;
  font-size: 14pt;
  color: white;
}

ul li {
  display: block;
  list-style-type: none;
  margin: .6rem 0 0 0;
}

ul li:hover {
  background: #988558;
}

header {
  height: 3.2rem;
  padding: .3rem 0 0 0;
}

header button {
  float: right;
  padding: 0;
  margin: .6rem 0 0 0;
  font-size: 12pt;
  border: .2rem outset gray;
}

header button:active {
  border: .2rem inset gray;
}

header img {
  float: right;
  padding: 0;
  margin: .6rem .6rem 0 0;
}

footer {
  padding-top: 1rem;
  margin: 0 0 0 .4rem;
  color: #FFF;
  text-align: center;
  background-color: #524420;
  border: .18rem solid #FFF;
}

.video_information {
  display: inline;
  text-indent: 12pt;
  color: DarkSeaGreen;
}

.control_video {
  padding: 0;
  margin: 0 0 0 2.5rem;
}

.control_video button {
  width: 7.5rem;
  height: 2rem;
  margin: 0;
  border: .2rem outset gray;
}

.control_video button:hover {
  border: .2rem inset grey;
}

.play_list {
  margin: 0 auto;
}

.clock_canvas {
  margin: 0;
}

.video_are {
  margin: 0 0 0 .45rem;
}

.button_outset {
  border: .2rem outset gray;
}

.button_inset {
  border: .2rem inset grey;
}
